<div class="container">
  <div style="text-align:center;">
    <div>
      <br>
      <img src="" class="img-fluid mx-auto d-block" alt="logo no encontrado" [routerLink]="['/test']" routerLinkActive="active">
    </div>
    <br>
    <br>
    <hr>
    <hr>
    <br>
    <!--
    <div id="searchCity-component">
      <h3>En qué localidad quieres donar?</h3>
      <br>
      <input #searchBox id="search-box" placeholder="Tu Ubicación" />

      <div>
        <div *ngFor="let org of orgs | async" class="search-result">
          {{org.city}}
        </div>
        <div *ngIf="errorMessage">
          <h2>
                 {{errorMessage}}
               </h2>
        </div>
      </div>

    </div>
  -->
    <form class="form">
      <h3>¿En qué localidad te gustaría donar?</h3>
      <mat-form-field class="form-full-width">
        <input matInput placeholder="Localidad.." aria-label="Localidad" [matAutocomplete]="autoCity" [formControl]="cityCtrl">
        <mat-autocomplete #autoCity="matAutocomplete">
          <mat-option *ngFor="let city of filteredCitiesByName | async" [value]="" (onSelectionChange)="cityChanged($event, city.name)">
            <span>{{city.name }}</span> |
            <small> {{city.province.name}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <br>
      <br>
      <div class="tag" *ngIf="cityAux" (click)="goTaggedCity()">
        <a> {{cityAux }}</a>
        <button class="delete" aria-label="Cancelar" (click)="resetCity(); $event.stopPropagation()">x</button>
      </div>

    </form>

    <br>
    <br>
    <hr>
    <hr>
    <br>

    <div>
      <h3>¿Qué te gustaría donar?</h3>
      <ul class="types">
        <li *ngFor=" let product of products " (click)="donationTypeChanged(product.name)" [class.active]="product.name===donationTypeAux">
          <a> {{product.name}} </a>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <hr>
    <hr>
    <br>

    <form class="form">
      <h3>¿Buscas alguna ONG en particular?</h3>
      <mat-form-field class="form-full-width">
        <input matInput placeholder="ONG.." aria-label="ONG" [matAutocomplete]="autoOrg" [formControl]="orgCtrl">
        <mat-autocomplete #autoOrg="matAutocomplete">
          <mat-option *ngFor="let org of filteredOrgsByName | async" [value]="" (onSelectionChange)="orgChanged($event, org)">
            <span>{{org.name }}</span> |
            <small> {{org.city.name}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <br>
    <br>
    <hr>
    <hr>
    <br>
  </div>
</div>