.form {
  min-width: 150px;
  max-width: 500px;
  width: 95%;
}

.form-full-width {
  width: 95%;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  margin-bottom: 1em;
  width: 304px;
  min-width: 304px;
}

.active {
  background-color: #CFD8DC !important;
  color: white;
}

.types {
  margin: 0 0 2em 0;
  list-style-type: none;
  width: 15em;
}

.types li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  /* height: 1.6em; */
  border-radius: 4px;
  /* margin-left: 2em; */
}

.types li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.types li.active:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.types .text {
  position: relative;
  top: -3px;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #909090;
}

.delete {
  float: right;
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray;
  color: white;
}

.tag {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  width: 15em;
  margin-left: 3em;
  text-align: center;
}

.tag:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.tag .text {
  position: relative;
  top: -3px;
}

mat-card {
  margin-top: 10px;
  margin-bottom: 10px;
}