<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <!-- <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field> -->
  </div>

  <mat-table #table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="Categoria">
      <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.donationRequest.product.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.donationRequest.description}} </mat-cell>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="Cantidad">
      <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
    </ng-container>

    <!-- CreationDate Column -->
    <ng-container matColumnDef="Creación">
      <mat-header-cell *matHeaderCellDef> Creación </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.creationDate | date: 'dd/MM/yy'}} </mat-cell>
    </ng-container>

    <!-- Organización Column -->
    <ng-container matColumnDef="Organización">
      <mat-header-cell *matHeaderCellDef> Organización </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-raised-button color="accent" (click)="goToOrg(element.donationRequest.organizationId)">{{element.donationRequest.organization.name}}</button> </mat-cell>
    </ng-container>

    <!-- Contacto Column -->
    <ng-container matColumnDef="Contacto">
      <mat-header-cell *matHeaderCellDef> Contacto </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.donationRequest.organization.email}} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="Accion">
      <mat-header-cell *matHeaderCellDef> Accion </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-raised-button color='accent' (click)='cancelResponse(element)'> Cancelar </button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div *ngIf="empty">
    <h4>No se encontraron donaciones pendientes</h4>
  </div>
</div>