<div class="demo-toolbar white-theme">
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="sections">
      <mat-icon>menu</mat-icon>
    </button>
    <span class='menuButton'>Menu</span>
    <div id="headerDivider-left"></div>
    <span class="demo-fill-remaining"></span>
    <button mat-raised-button color="accent" [routerLink]="['/catalog']">DONAR</button>
    <mat-menu #sections="matMenu">
        <button mat-menu-item [routerLink]="['/products']">Productos</button>
        <!-- <button mat-menu-item [routerLink]="['/donners']">Donadores</button> -->
        <button mat-menu-item [routerLink]="['/']">Raiz</button>
    
        <!-- <button mat-menu-item [routerLink]="['/donations']">Donations</button> -->
        <button mat-menu-item [routerLink]="['/catalog']">Catalogo de Pedidos</button>
        <!-- <button mat-menu-item>Help</button> -->
    </mat-menu>
    
    <span class="demo-fill-remaining"></span>
    <app-user-nav></app-user-nav>

  </mat-toolbar>
</div>