<nav class="nav">
  <div class="nav-left">
    <a class="nav-item logo" routerLink="/">
      Donar
    </a>
  </div>

    <span>Primary Toolbar</span>
    <span class="demo-fill-remaining"></span>
    <button mat-raised-button color="accent" [routerLink]="['/products']">Productos</button>
    <button mat-raised-button color="accent" [routerLink]="['/donners']">Donadores</button>
    <button mat-raised-button color="accent" [routerLink]="['/']">Raiz</button>

    <button mat-raised-button color="accent" [routerLink]="['/donations']">Donations</button>
    <button mat-raised-button color="accent" [routerLink]="['/catalog']">Catalogo Principal</button>
    <button mat-raised-button color="accent" [routerLink]="['/ongs']">ONGs</button>

    <span class="demo-fill-remaining"></span>
    <user-profile></user-profile>
    
  </mat-toolbar>
</div>