.demo-toolbar {
//   padding: 6px;

  .demo-toolbar-icon {
    padding: 0 14px;
  }

  .demo-fill-remaining {
    flex: 1 1 auto;
  }

  button {
    margin: 0 4px;
    border-radius: 12px;
  }

  .menuButton {
    padding-right: 1%;
    border-right:1px solid #929faa; 
    height:2em; 
  }
  
}