<div class="box">
  <div *ngIf="loggedIn(); then logueado else nologueado">
  </div>
  <mat-form-field>
    <input matInput [(ngModel)]="name" placeholder="What's your name?">
  </mat-form-field>
  <button mat-raised-button (click)="openDialog()">Pick one</button>
</div>
<ng-template #logueado>
  <span>Hola, {{ user.name }} </span>
  <!--p class="text-truncate">ID: {{ user.id }}</p-->
  <button mat-raised-button color="accent" [routerLink]="['/userProfile']">Perfil</button>
  <!-- TODO: Change this -->
  <button mat-raised-button color="accent" [routerLink]="['/ong']">Perfil ONG</button>
  <button mat-raised-button color="accent" (click)="logout()">Logout</button>
</ng-template>
<ng-template #nologueado>
  <span>Hola Anonimo</span>
  <button mat-raised-button color="accent" [routerLink]="['/signupDonner']">Signup</button>
  <button mat-raised-button color="accent" [routerLink]="['/login']">Login</button>
</ng-template>