<div class="box">
  <div *ngIf="loggedIn(); then logueado else nologueado">
  </div>

</div>
<ng-template #logueado>
  <span>Hola, {{ user.name }} </span>
  <!--p class="text-truncate">ID: {{ user.id }}</p-->
  <button mat-raised-button color="accent" [routerLink]="['/userProfile']">Tu perfil</button>
  <button mat-raised-button color="accent" (click)="logout()">Logout</button>
</ng-template>
<ng-template #nologueado>
  <span>Hola Anonimo</span>
  <button mat-raised-button color="accent" [routerLink]="['/signup']">Signup</button>
  <button mat-raised-button color="accent" [routerLink]="['/login']">Login</button>
</ng-template>