<h3>Detalle del producto</h3>

<form class="" #f="ngForm" (ngSubmit)="f.form.valid && donate()">
  <div class="form-group">

    <label>
        Necesita {{request.amount}} {{request.product.Name}}(s)
      </label><br>
    <label>
        Permanente: {{request.isPermanent}}
      </label><br>
    <label>
        Cantidad recaudada: {{request.covered}}
      </label><br>
    <label>
        Cantidad "en espera": {{request.promised}}
      </label><br>
  </div>
  <br>
  <div *ngIf="loggedIn()">
    <div class="form-group">
      <input type="number" class="form-control" name="amountToDonate" [(ngModel)]="donation.amount" #amountToDonate="ngModel" required />
    </div>
    <div class="form-group">
      <br>
      <label> Quiero Donar: </label>
      <button type="button" name="button" (click)='donate()'>Donar</button>
    </div>
  </div>
  <div *ngIf="!loggedIn()">
    <h3>Tenes cuenta? </h3>
    <app-login>
    </app-login>
  </div>
</form>