<div>
    <h1> Contact Main </h1>
  
    <!-- Add component -->
    <app-contact-add (onCreated)='onCreated($event)'></app-contact-add>
  
    <!-- List -->
    <h2>Contacts</h2>
    <div *ngFor="let contact of contacts" (click)='select(contact)'>
    </div>
  
    <br/>
  
    <!-- Edit component -->
    <div>
      <app-contact-edit
      *ngIf = "contactSelected"
      [contactOriginal] = "contactSelected"
      (contactUpdated) = "OnEdit($event)"
      ></app-contact-edit>
    </div>
  
  </div>