<h2>
  Active Donations
</h2>
<h3>Permanentes</h3>
<ul>
  <li style="display: inline-block" *ngFor='let permanentRequest of permanentRequests' (click)='onPermanentRequest(permanentRequest)'>
    <app-donation-detail [selectedDonationRequest]="permanentRequest">
    </app-donation-detail>
    <!-- {{ permanentRequest.product.Name }} -->
  </li>
</ul>
<h3>No Permanentes</h3>
<ul>
  <li style="display: inline-block" *ngFor='let oneTimeRequest of oneTimeRequests' (click)='onOneTimeRequest(oneTimeRequest)'>
    <app-donation-detail [selectedDonationRequest]="oneTimeRequest">
    </app-donation-detail>
    <!-- {{ oneTimeRequest.product.Name }}: {{oneTimeRequest.covered}} de {{oneTimeRequest.amount}} -->
  </li>
</ul>