<div class="col-md-6 col-md-offset-3">
    <h2>Nueva Donacion Recurrente</h2>
    <form name="form" (ngSubmit)="f.form.valid && signupUser()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="name">Cantidad</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="permanentDonation.amount" #name="ngModel" required />
            <div *ngIf="f.submitted && !name.valid" class="help-block">La cantidad es obligatoria</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>