<div class="col-md-6 col-md-offset-3">
    <h2>Nueva Donacion Recurrente</h2>
    <form name="form" (ngSubmit)="f.form.valid && create()" #f="ngForm" novalidate>
        <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !amount.valid }">
            <label for="name">Cantidad</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="permanentDonation.amount" #amount="ngModel" required />
            <div *ngIf="f.submitted && !amount.valid" class="help-block">La cantidad es obligatoria</div>
        </div> -->
        <div class="form-group">
            <label for="name">Fecha de expiracion</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="permanentDonation.expirationDate" #expirationDate="ngModel"
                required />
        </div>
        <div class="form-group">
            <label class="center-block" *ngIf='products && products.length > 0'>Producto:
                <select class="form-control" [(ngModel)]="selectedProduct" name="product">
                    <option *ngFor="let product of products" [ngValue]="product">{{product.Name}}</option>
                </select>
            </label>
        </div>

        <div class="form-group">
            <label class="center-block" *ngIf='organizations && organizations.length > 0'>Organizacion:
                <select class="form-control" [(ngModel)]="selectedOrganization" name="organization">
                    <option *ngFor="let organization of organizations" [ngValue]="organization">{{organization.username}}</option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>