<div class="container">
  <h1>Want to donate</h1>
  <div *ngIf="request" class="row">

    <div class="column">

      <app-donate-add [request]="request" (donated)="donated($event)">

      </app-donate-add>
      <!--
      <app-donation-detail *ngIf="!wantToDonate" [selectedDonationRequest]="request" (donationOk)="donationClicked($event)">

      </app-donation-detail>

      <app-donate-add *ngIf="wantToDonate" [request]="request" (donated)="donated($event)">

      </app-donate-add>
    -->
    </div>

    <div class="column">

      <app-organization-detail [organization]="request.organization">

      </app-organization-detail>
    </div>
  </div>
</div>
