<div class="container">
  <div *ngIf="request" class="row">
    <div id=donationInfo class="column">
      <mat-card>

        <h1>¡Gracias!</h1>

        <app-donate-add [request]="request" (donated)="donated($event)">

        </app-donate-add>

      </mat-card>
    </div>
    <div id=orgInfo class="column">


      <app-organization-detail [organization]="request.organization">

      </app-organization-detail>
      <mat-card>
        <div>
          <button mat-raised-button color="accent" (click)="goToOrg()">Ver otras necesidades de esta ONG</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>