.toolbar {
    // padding: 6px;
    padding-bottom: 0px;
    color: "primary";
    height: 40%;
  
    .toolbar-icon {
      padding: 0 14px;
    }
  
    .fill-remaining {
      flex: 1 1 auto;
    }

    .fill-remaining2 {
        flex: 0.3 0.3 auto;
      }
  
    button {
      margin: 0 4px;
    }
    img {
        width: 100%;
        height: 100%;
    }
  }

#bottomNav {
    display: flex;
    flex-direction: column;
}