<div class="org" *ngIf='organization'>
  <div>
    <div mat-card-avatar class="example-header-image"><img mat-card-image src="{{organization.logoUrl}}" alt="Image"></div>
    <h3>Organización {{organization.name}}</h3>
    <label>{{organization.reputation}}</label> <br>
    <label>{{organization.email}}</label> <br>
    <label>{{organization.phoneNumber}}</label> <br>
    <label>{{organization.address}}</label> <br>
    <label>{{organization.city }} | <small> {{organization.province}}</small></label> <br>
    <label>{{organization.webPage}}</label> <br>
  </div>
</div>