<div class="row">
  <div id="filters" class="column">
    <app-filter-sidebar [products]="products" [orgs]="orgs" [cities]="cities" (donationType)="donationTypeChange($event)">
    </app-filter-sidebar>
  </div>

  <div id="requests" class="column">
    <div *ngIf="organization">
      <app-organization-detail [organization]="organization">

      </app-organization-detail>

    </div>
    <br>
    <br>
    <app-active-donations [oneTimeRequests]="oneTimeRequests" [permanentRequests]="permanentRequests" [donationType]="donationType" [city]="city" [orgId]="orgId">

    </app-active-donations>
  </div>
</div>