.row {
    display: flex;
  }
  
  #filters.column {
    flex: 20%;
    text-align: left;
    /* border: solid 1px; */
  }
  #requests.column {
      /* Aca se podria alterar... */
    flex: 80%; 
    text-align: center;
  }